<div class="row">
  <div class="large-12 columns">
    <label>Jira Host:</label>
    <input type="text" placeholder="http://www.jira.tld" />
    <label>Jira Context:</label>
    <input type="text" placeholder="jira" />
    <label>Username:</label>
    <input type="text" />
    <label>Password:</label>
    <input type="password" />
    <label>JQL:</label>
    <input type="text" placeholder="sprint = 17 AND project = AngryNerds"/>
    <input type="submit" class="button" />
  </div>
</div>
